---
layout: default
title: home
---

<div class="home">
  <h1 class="page-heading">recent posts</h1>
  
  <ul class="posts-list">
    {% for post in site.posts %}
    <li class="post-item">
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      
      {% if post.categories.size > 0 %}
      <div class="categories">
        {% for category in post.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/" class="category-tag">{{ category }}</a>
        {% endfor %}
      </div>
      {% endif %}
      
      <p>{{ post.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
</div>