---
layout: default
title: Categories
permalink: /categories/
---

<div class="categories-page">
  <h1>All Categories</h1>
  
  <div class="categories-list">
    {% assign categories = site.categories | sort %}
    {% for category_pair in categories %}
      {% assign category_name = category_pair | first %}
      {% assign posts = category_pair | last %}
      <div class="category-section">
        <h2 class="category-heading" id="{{ category_name | slugify }}">
          <a href="{{ site.baseurl }}/categories/{{ category_name | slugify }}/">{{ category_name }}</a>
        </h2>
        <span class="post-count">({{ posts.size }} post{% if posts.size != 1 %}s{% endif %})</span>
        
        <ul class="category-posts">
          {% for post in posts limit:5 %}
            <li>
              <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
          
          {% if posts.size > 5 %}
            <li class="more-link">
              <a href="{{ site.baseurl }}/categories/{{ category_name | slugify }}/">See all posts in {{ category_name }} &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>